* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    height: 100%;
    background: radial-gradient(circle, #fff, #222);
    background: -webkit-radial-gradient(circle, #fff, #222);
    background: -moz-radial-gradient(circle, #fff, #222);
    background: -o-radial-gradient(circle, #fff, #222);
    background: -ms-radial-gradient(circle, #fff, #222);
}

.container {
    border: 1px solid black;
    width: 1000px;
    height: 515px;
    position: relative;
    margin: 30px auto;
    /*
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
*/
    background-color: #9DD2EA;
    border-radius: 20px;
    /*    box-shadow: [horizontal offset], [vertical offset], [blur offset], [blur radius], [optional spread radius], [color];*/
    box-shadow: 0px 4px 0px 0px #009DE4;
    -webkit-box-shadow: 0px 4px 0px 0px #009DE4;
    -moz-box-shadow: 0px 4px 0px 0px #009DE4;
}

.question {
    background-color: cornflowerblue;
    width: 800px;
    height: 200px;
    margin: 10px auto;
    clear: both;
    box-shadow: 0px 4px 0px 0px #5870b1;
    -webkit-box-shadow: 0px 4px 0px 0px #5870b1;
    -moz-box-shadow: 0px 4px 0px 0px #5870b1;
    color: aliceblue;
    font-size: 7em;
    text-align: center;
    font-family: cursive;
    line-height: 2em;
    border: none;
    border-radius: 10px;
}

.correct-answer {
    background-color: #9DD2EA;
    display: block;
    width: 800px;
    height: 50px;
    margin: 10px auto;
    font-size: 1.5em;
    background-color: palevioletred;
    box-shadow: 0px 4px 0px 0px purple;
    -webkit-box-shadow: 0px 4px 0px 0px purple;
    -moz-box-shadow: 0px 4px 0px 0px purple;
    text-align: center;
    font-weight: 500;
    line-height: 2em;
    font-family: cursive;
    border: none;
    border-radius: 10px;
}

.options {
    margin: 10px auto;
    background-color: #9DD2EA;
    width: 800px;
}

.answers {
    width: 150px;
    height: 100px;
    box-shadow: 0px 4px 0px 0px #5870b1;
    -webkit-box-shadow: 0px 4px 0px 0px #5870b1;
    -moz-box-shadow: 0px 4px 0px 0px #5870b1;
    font-size: 50px;
    font-family: cursive;
    margin-left: 62px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

#btn1 {
    margin-left: 0;
}

.start {
    position: relative;
    top: 50px;
}

#start-game {
    width: 200px;
    padding: 10px;
    left: 50%;
    position: absolute;
    transition: all 0.1s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transform: translateX(-50%);
    margin-top: 10px;
    top: -55px;
    font-size: 1.5em;
    font-family: cursive;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 10px grey;
    -webkit-box-shadow: 0px 4px 10px grey;
    -moz-box-shadow: 0px 4px 10px grey;
    background-color: darkkhaki;
}

#start-game:hover {
    background-color: burlywood;
    box-shadow: 4px 4px 10px 5px grey;
    -webkit-box-shadow: 4px 4px 10px 5px grey;
    -moz-box-shadow: 4px 4px 10px 5px grey;
    color: white;
}

#start-game:active {
    background-color: mediumpurple;
    box-shadow: 0px 0px purple;
    -webkit-box-shadow: 0px 0px purple;
    -moz-box-shadow: 0px 0px purple;
}

.score {
    float: right;
    margin: 10px 100px 10px;
    width: 150px;
    padding: 10px;
    font-size: 1.5em;
    background-color: darkkhaki;
    box-shadow: 0px 4px 10px grey;
    -webkit-box-shadow: 0px 4px 10px grey;
    -moz-box-shadow: 0px 4px 10px grey;
}

#green {
    background-color: #6de42d;
    width: 100px;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 38px;
    left: 50%;
    color: aliceblue;
    box-shadow: 4px 4px 10px 5px #5870b1;
    -webkit-box-shadow: 4px 4px 10px 5px #5870b1;
    -moz-box-shadow: 4px 4px 10px 5px #5870b1;
    display: none;
}

#red {
    background-color: #ef0b0b;
    width: 100px;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 38px;
    left: 50%;
    color: aliceblue;
    box-shadow: 4px 4px 10px 5px #5870b1;
    -webkit-box-shadow: 4px 4px 10px 5px #5870b1;
    -moz-box-shadow: 4px 4px 10px 5px #5870b1;
    display: none;
}

.answers:hover {
    background-color: mediumpurple;
    box-shadow: 4px 4px 10px 5px rebeccapurple;
    -webkit-box-shadow: 4px 4px 10px 5px rebeccapurple;
    -moz-box-shadow: 4px 4px 10px 5px rebeccapurple;
    color: white;
}

.answers:active {
    background-color: mediumpurple;
    top: 4px;
    box-shadow: 0px 0px purple;
    -webkit-box-shadow: 0px 0px purple;
    -moz-box-shadow: 0px 0px purple;
}

.answers:target {
    background-color: red;
    top: 4px;
    box-shadow: 0px 0px purple;
    -webkit-box-shadow: 0px 0px purple;
    -moz-box-shadow: 0px 0px purple;
}

#time {
    background-color: palegreen;
    box-shadow: 0px 4px 10px grey;
    -webkit-box-shadow: 0px 4px 10px grey;
    -moz-box-shadow: 0px 4px 10px grey;
    width: 300px;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
    top: 455px;
    left: 680px;
    position: absolute;
    font-size: 1.5em;
    font-family: cursive;
    display: none;
}

#game-over {
    background: radial-gradient(#e82f16, #edad7c);
    background: -webkit-radial-gradient(#e82f16, #edad7c);
    background: -o-radial-gradient(#e82f16, #edad7c);
    background: -ms-radial-gradient(#e82f16, #edad7c);
    background: -moz-radial-gradient(#e82f16, #edad7c);
    width: 700px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    text-align: center;
    line-height: 2em;
    padding-top: 50px;
    color: white;
    font-weight: 700;
    display: none;
    z-index: 2;
}

#play-again {
    width: 200px;
    padding: 10px;
    position: relative;
    top: -10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    font-family: cursive;
    font-size: .4em;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 10px grey;
    -webkit-box-shadow: 0px 4px 10px grey;
    -moz-box-shadow: 0px 4px 10px grey;
    background-color: darkkhaki;
}

#play-again:hover {
    background-color: burlywood;
    box-shadow: 4px 4px 10px 5px grey;
    -webkit-box-shadow: 4px 4px 10px 5px grey;
    -moz-box-shadow: 4px 4px 10px 5px grey;
    color: white;
}

#play-again:active {
    background-color: mediumpurple;
    top: 1px;
    box-shadow: 0px 0px purple;
    -webkit-box-shadow: 0px 0px purple;
    -moz-box-shadow: 0px 0px purple;
}


/*
#level {
    background-color: yellowgreen;
    border: none;
    box-shadow: 0px 4px 0px #556c1d;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 5%;
    left: 40%;
    margin: 0 auto;
    color: antiquewhite;
    text-align: center;
    font-family: cursive;
    font-size: 2em;
    display: none;
}

#plus-time {
    background-color: palegreen;
    box-shadow: 0px 4px 10px grey;
    -webkit-box-shadow: 0px 4px 10px grey;
    -moz-box-shadow: 0px 4px 10px grey;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
    top: 460px;
    left: 800px;
    position: absolute;
    font-size: 1.5em;
    font-family: cursive;
    display: none;
}
*/
